{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  <div class="container">
    <h1>Make Booking</h1>
    <div class="row">
      <div class='col-sm-6'>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ wtf.quick_form(form) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

