{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <h1>Welcome to UniSafe!</h1>
    <p>
        <div>
            <button type="button" class="btn btn-primary btn-lg btn-block">
                <a style="color: white;" href="{{ url_for('booking') }}">Book Time Slot</a>
            </button>
        </div>
    </p>
    <p>
        <div>
            <button type="button" class="btn btn-primary btn-lg btn-block">
                <a style="color: white;" href="{{ url_for('qrcode') }}">My QR code</a>
            </button>
            
        </div>
    </p>
    <p>
        <div>
            <button type="button" class="btn btn-primary btn-lg btn-block">
                <a style="color: white;" href="{{ url_for('report') }}">Report Issue</a>
            </button>
        </div>
    </p>
{% endblock %}
